<section class="section bg-grey">
  <div class="container-fluid contact-form-wrapper">
    <div
      class="shadow-sm bg-white login-wrapper position-relative overflow-hidden"
    >
      <div class="row position-static">
        <div class="column-left col-12 col-md-5 colum-left bg-login">
          <div class="h-100">
            <a
              routerLink="/login"
              class="link-back transition text-white d-inline-block mt-4"
              ><i class="fas fa-arrow-left"></i
            ></a>
            <h1 class="text-white font-weight-bold column-left-title">
              Reset Password
            </h1>
          </div>
        </div>
        <div class="col-md-7 offset-md-5 col-12">
          <form role="form" class="form pl-4 position-relative pr-4 pt-5">
            <div class="form-group">
              <label for="exampleInputEmail1">New Password</label>
              <input
                type="password"
                class="form-control"
                id="name"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Re-enter new password</label>
              <input
                type="password"
                class="form-control"
                id="name"
                name="password2"
              />
            </div>
            <div class="text-center mt-4 btn-curved w-100">
              <app-submit-button
                [text]="'Reset my password'"
              ></app-submit-button>
            </div>
          </form>
          <div class="text-center mt-5 login-footer">
            <p class="text-muted">
              Back to
              <a
                routerLink="/login"
                class="d-inline-block btn-underlined blog-link-more ml-1"
                >Login</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
