<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 class="font-weight-bold text-uppercase">Organizaton History</h5>
        <p>Founded in 1995, the <strong>Association of Private School Owners of Nigeria</strong> was created to improve
          the standard of quality eduction in Nigeria and promote the interest of proprietors of private schools and
          other NGOs engaged in education related matters by creating a platform where members can function without any
          hindrance. <a routerLink="/about" class="blog-link-more">Read more...</a></p>
      </div>
      <div class="col-sm-6 col-12 col-md-3">
        <h5 class="font-weight-bold text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/blog">Publications</a>
          </li>
          <li>
            <a routerLink="/schools">Member schools</a>
          </li>
          <li>
            <a routerLink="/login">Member login</a>
          </li>
          <li>
            <a [href]="'https://www.getsmati.com'" target="_blank">getsmati.com</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 col-12">
        <h5 class="font-weight-bold text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
          <li>
            <a routerLink="/terms">Terms &amp; Conditions</a>
          </li>
          <li>
            <a routerLink="/privacy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <p>&copy; 2019 Association of Private School Owners of Nigeria. All Rights Reserved</p>
        </div>
        <div class="col-sm-3 text-center">
          <a [href]="'https://www.facebook.com/apsonigeria'" class="social-item facebook" target="_blank"><i
              class="fab fa-facebook-f transition"></i></a>
          <a [href]="'https://www.twitter.com/apsonigeria'" class="social-item facebook twitter" target="_blank"><i
              class="fab fa-twitter transition"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
