<section class="hero-section section" data-pg-collapsed>
  <div class="container-fluid position-relative">
    <h1 class="text-uppercase text-center">Privacy Policy</h1>
  </div>
</section>
<section class="section terms-section" data-pg-collapsed>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="terms-intro">
          <div>
            <h4>1. Collection of Data</h4>
            <p>
              When you register, log in or subscribe to our newsletter, we
              collect the personal information you give us such as your name,
              address and email address etc.
            </p>
            <p>
              When you browse our site, we also automatically receive your
              computer’s internet protocol (IP) address in order to provide us
              with information that helps us learn about your browser and
              operating system. Email marketing (if applicable): With your
              permission, we may send your emails about our store, new products
              and other updates.
            </p>
          </div>
          <div>
            <h4>2. Sharing of Data</h4>
            <p>
              Your personal details are not rented or sold to any external
              companies or advertisers under any circumstances.
            </p>
            <p>
              In general, the third-party providers used by us will only
              collect, use and disclose your information to the extent necessary
              to allow them to perform the services they provide to us. However,
              certain third-party service providers, such as payment gateways
              and other payment transaction processors, have their own privacy
              policies in respect to the information we are required to provide
              to them for your purchase-related transactions.
            </p>
            <p>
              For these providers, we recommend that you read their privacy
              policies so you can understand the manner in which your personal
              information will be handled by these providers. In particular,
              remember that certain providers may be located in or have
              facilities that are located a different jurisdiction than either
              you or us. So if you elect to proceed with a transaction that
              involves the services of a third-party service provider, then your
              information may become subject to the laws of the jurisdiction(s)
              in which that service provider or its facilities are located.
            </p>
            <p>
              Once you leave our store’s website or are redirected to a
              third-party website or application, you are no longer governed by
              this Privacy Policy or our website’s
              <a href="terms.html" class="blog-link-more">Terms of Service</a>.
            </p>
            <p>
              When you click on links on our store, they may direct you away
              from our site. We are not responsible for the privacy practices of
              other sites and encourage you to read their privacy statements.
            </p>
            <p>
              We may disclose your personal information if we are required by
              law to do so or if you violate our Terms of Service.
            </p>
          </div>
          <div>
            <h4>3. Security</h4>
            <p>
              To protect your personal information, we take reasonable
              precautions and follow industry best practices to make sure it is
              not inappropriately lost, misused, accessed, disclosed, altered or
              destroyed.
            </p>
            <p>
              If you provide us with your credit card information, the
              information is encrypted using secure socket layer technology
              (SSL) and stored with a AES-256 encryption. Although no method of
              transmission over the Internet or electronic storage is 100%
              secure, we follow all PCI-DSS requirements and implement
              additional generally accepted industry standards.
            </p>
          </div>
          <div>
            <h4>4. Cookies</h4>
            <p>
              Like many web sites, we use "Cookies," which are data files placed
              on a web browser when it is used to visit the Sites to facilitate
              site navigation and to personalize your experience, including
              tailoring advertisements.
            </p>
            <p>
              The information we collect is what you provide us with when you
              signup for a newsletter, or when making a purchase. For example,
              this may be your name, address, or contact information. Cookies
              can also identify session information like the pages you view, how
              long your session was, transactions, and your basic demographic
              information (origin, gender, age).
            </p>
            <p>
              Disabling cookies on your device is possible by changing your
              browser settings. You can use opt-out programs, like ‘NAI’s
              Consumer opt-out’ or ‘Google Analytics opt-out browser add-on,’ to
              prevent cookies from being used. If you decide to do this, know
              that our site may not function properly.
            </p>
          </div>
          <div>
            <h4>5. Changes to this Privacy Policy</h4>
            <p>
              We reserve the right to modify this privacy policy at any time, so
              please review it frequently. Changes and clarifications will take
              effect immediately upon their posting on the website. If we make
              material changes to this policy, we will notify you here that it
              has been updated, so that you are aware of what information we
              collect, how we use it, and under what circumstances, if any, we
              use and/or disclose it.
            </p>
            <p>
              If our store is acquired or merged with another company, your
              information may be transferred to the new owners so that we may
              continue to sell products to you.
            </p>
          </div>
          <div>
            <h4>Contact Details</h4>
            <p>
              You retain the right to ask for your data. If there is something
              incorrect you can have it changed or removed. If you wish to
              cancel your account or request that we no longer use your Personal
              Information to provide you service, you may contact us by clicking
              <a routerLink="/contact">here</a> or send us an email using
              <a [href]="'mailto:support@apsonigeria.org'"
                >support@apsonigeria.org</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
