<section class="hero-section section overlay hero-school">
  <div class="container-fluid position-relative">
    <h1>Find the best private schools in Nigeria.</h1>
    <div class="select-group form">
      <div class="row">
        <div class="col-md-4 col-12">
          <lib-simple-select
            placeholder="All States"
            [data]="states"
            (whenSelected)="filterByState($event)"
          >
          </lib-simple-select>
        </div>
        <div class="col-md-4 col-12">
          <lib-simple-select
            placholder="All LGAs"
            (whenSelected)="filter('lga', $event)"
            [data]="lgas"
          ></lib-simple-select>
        </div>
        <div class="col-md-4 col-12">
          <div class="input-group">
            <lib-simple-select
              placeholder="All types"
              [data]="types"
              (whenSelected)="filter('type', $event)"
            >
            </lib-simple-select>
            <div class="input-group-append">
              <a
                (click)="scrollToResults(results)"
                class="btn btn-link input-group-text btn-brand scroll pointer"
              >
                <i class="fas fa-arrow-down"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey school-section-content" id="results" #results>
  <div class="position-relative container-fluid">
    <lib-school-box
      [schoolParams]="schoolParams"
      [size]="1000"
    ></lib-school-box>
  </div>
</section>
