.members-wrapper {
  @keyframes uploading {
    to {
      opacity: 0.8;
    }
  }

  .container-fluid {
    max-width: 1200px;
  }

  .card-body {
    padding: 0px;
  }

  .left-panel {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #1f2740;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.01);
    overflow-y: auto;
    width: 280px;
    overflow: auto;
    transition: all 400ms;
    z-index: 10;
    padding: 60px 15px 30px;
    color: white;
  }

  .profile-image {
    border-radius: 100%;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .left-panel-profile-name {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 15px;
  }

  .left-panel ul {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .left-panel ul a {
    padding: 5px 0px 5px 10px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    position: relative;
    top: -3px;
    text-transform: capitalize;
    color: inherit;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .left-panel li.active .fas {
    color: #fecb2f;
  }

  .left-panel-email {
    font-size: 11px;
    margin-bottom: -2px;
    opacity: 0.7;
    padding-top: 2px;
  }

  .copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 8px;
    color: #919493;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  .right-panel {
    min-height: 100vh;
    margin-left: 0px;
    margin-top: 65px;
  }

  .header h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card {
    border: none;
  }

  .shadow-raised {
    box-shadow: 0px 8px 20px #e3e7ea;
  }

  .school-box {
    padding-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
  }

  .school-cover-image {
    width: 100%;
  }

  .school-badge {
    width: 50px;
    margin-top: -30px;
    margin-left: 20px;
    background-color: white;
    border-radius: 3px;
  }

  .school-title {
    font-size: 16px;
    font-weight: bold;
  }

  .school-box-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }

  .ml-20 {
    margin-left: 20px;
  }

  .mr-20 {
    margin-right: 20px;
  }
  @media (max-width: 991px) {
    .left-panel {
      left: -280px;
    }
  }

  @media (min-width: 991px) {
    .right-panel {
      padding: 0px 30px;
      margin-left: 280px;
      margin-top: 0px;
    }
  }

  .header {
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    color: #505050;
    border-bottom: 1px solid rgba(221, 221, 221, 0.66);
    top: 0px;
  }

  @media (min-width: 991px) {
    .header {
      position: relative;
      margin-left: 280px;
    }
  }

  .btn-menu {
    padding: 0px;
    width: 40px;
    margin-right: 20px;
    display: none;
  }

  .btn-menu span {
    display: block;
    height: 3px;
    background-color: #00b09b;
  }

  @media (max-width: 991px) {
    .btn-menu {
      display: inline-block;
    }
  }

  .hidden-menu.left-panel {
    left: 0px;
  }

  .hidden-menu.backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.69);
    z-index: 8;
  }

  .btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffffcf;
  }

  @media (min-width: 992px) {
    .left-panel .btn-back {
      display: none;
    }
  }

  .form-box {
    background-color: white;
  }

  .uploading {
    animation: uploading 600ms linear 0s infinite alternate;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
  }

  .form-section-heding {
    margin-bottom: 30px;
  }

  .form-section-heading h4 {
    font-weight: bolder;
    font-size: 15px;
    color: #555765;
  }

  .form-section-heading p {
    color: rgba(71, 80, 94, 0.55);
    font-size: 12px;
    font-weight: bold;
  }

  .form-section .row {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .form-section .btn-grouped {
    border-top: 1px solid #eeeeee;
    margin-top: 50px;
  }

  .card-column-2 {
    column-count: 2;
  }
  .school-logo {
    max-width: 200px !important;
  }

  .img-max-300 {
    max-width: 220px;
  }

  .empty-data-title {
    font-weight: bold;
    font-size: 21px;
    color: #292c44;
  }

  .empty-data-description {
    color: #676d73;
    font-size: 15px;
  }

  .max-width-500 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .uploading::before {
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
  }

  .uploading .spinner-border {
    position: absolute;
    z-index: 3;
    left: 45px;
    top: 40px;
  }

  .left-divider {
    height: 1px;
    background: #efefef;
    margin: -10px -20px 20px -60px;
  }

  .left-panel ul li.active::before {
    opacity: 1;
    width: 4px;
  }

  .left-panel li .fas {
    top: 7px;
  }

  .left-panel li {
    color: #acb3c5;
    transition: all 100ms;
  }

  .left-panel li.active {
    color: rgba(254, 203, 47, 0.71);
  }

  .left-panel li.active::after {
    width: 70px;
    opacity: 1;
  }

  .left-panel li::before {
    left: -55px;
    background-color: #fecb2f;
  }

  .left-panel li::after {
    left: -60px;
    background-image: linear-gradient(
      90deg,
      rgba(253, 203, 48, 0.43) 0%,
      rgba(254, 203, 47, 0.12) 50%,
      rgba(255, 206, 49, 0.12) 59%,
      rgba(31, 39, 64, 0.49) 83.5%
    );
  }

  .left-panel li::before,
  .left-panel li::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    width: 0px;
    transition: all 300ms;
  }

  .left-panel .drop {
    background-color: #12192c;
  }

  .setup {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
  }
  .header-back-icon {
    position: relative;
    top: 1px;
  }
  .text-hover:hover {
    color: #12192c !important;
  }
}
