.visitors-wrapper {
  #navbar {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    text-align: center;
  }

  #navbar .navbar-brand {
    padding: 0px;
    width: 40px;
    font-weight: bold;
  }

  #navbar .navbar-brand img {
    width: 100%;
  }

  #navbar li a {
    color: rgba(80, 76, 76, 0.69);
    transition: all 300ms;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  #navbar li a:hover {
    color: #00b09b;
  }

  #navbar .dropdown-menu a {
    font-weight: normal;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #navbar .dropdown-menu a:hover {
    padding-left: 20px;
  }

  #navbar .navbar-brand span {
    position: relative;
    top: 4px;
    left: 4px;
  }

  #navbar .btn-brand {
    margin-left: 0px;
    width: 100%;
  }

  .header {
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header span,
  .subtitle {
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(-90deg, #00b09b, #96c93d);
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: capitalize;
  }

  .top-margin {
    margin-top: 60px;
  }

  .nav-top {
    background-image: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    border-radius: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }

  .nav-top .close {
    color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 15px;
  }

  .nav-top strong {
    padding: 4px 7px;
    background-color: #ff5630;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 10px;
    position: absolute;
    left: 0px;
  }

  .nav-top a {
    color: inherit;
    border-bottom: 1px dashed;
    padding-bottom: 1px;
  }

  .nav-top span {
    display: inline-block;
    margin-right: 30px;
    padding-left: 55px;
    position: relative;
  }

  .header-left {
    margin-bottom: 50px;
  }

  .header-left span {
    color: #00b09b;
  }

  .header-left span::before {
    position: absolute;
    width: 38px;
    height: 3px;
    content: '';
    left: 0px;
    bottom: 7px;
    background-image: linear-gradient(-90deg, #00b09b, #96c93d);
  }

  .header-left h2 {
    font-size: 22px;
    margin-top: 10px;
  }

  .blog-link-more {
    display: inline-block;
    font-weight: bold;
    color: #00b09b;
    transition: all 400ms;
  }

  .blog-link-more:hover {
    color: #038575;
  }

  .btn-footer-grp {
    margin-top: 50px;
  }

  .footer {
    background-color: #e9ecef;
    padding-top: 50px;
    text-align: center;
  }

  .footer li a {
    font-size: 13px;
    font-weight: bold;
    color: rgba(98, 98, 98, 0.83);
    display: inline-block;
    padding: 3px 5px 3px 3px;
  }

  .copyright {
    background-color: #343a40;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social-item {
    background-color: white;
    color: #343a40;
    display: inline-block;
    font-size: 17px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    padding-top: 3px;
    margin-left: 5px;
  }

  .copyright p {
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 4px;
  }

  .facebook:hover .fab {
    transform: scale(1.1, 1.1);
    color: #4168b2;
  }

  .twitter:hover .fab {
    color: #1991da;
  }

  .navbar-toggler {
    border: none;
  }

  @media (min-width: 420px) {
    .header h2 {
      font-size: 25px;
    }
  }

  .header p {
    color: #565656;
  }

  @media (max-width: 550px) {
    .boxed-row > div {
      min-width: 100%;
    }
  }

  @media (max-width: 574.98px) {
    .copyright .row > div {
      text-align: center;
    }
  }

  @media (min-width: 575.98px) {
    .footer {
      text-align: left;
    }
  }

  @media (min-width: 991.98px) {
    #navbar .btn-brand {
      margin-left: 15px;
    }
  }

  .navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .hero-section {
    background-image: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center center;
    color: white;
  }

  .hero-section h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  .bg-contact {
    background-image: url('/assets/images/limbo/brad-neathery-258926-unsplash.jpg');
    background-position: center bottom;
  }

  @media (min-width: 420px) {
    .hero-section h1 {
      text-align: left;
    }
  }

  .terms-section h4 {
    font-weight: bold;
    font-size: 18px;
  }

  .terms-section p {
    font-size: 16px;
    color: #4b4b4b;
    font-weight: normal;
  }

  .nav a {
    font-weight: bold;
    text-transform: uppercase;
    color: #403e3e;
    border-bottom: 3px solid transparent;
    font-size: 13px;
    padding: 15px 8px;
  }

  .nav a.active {
    border-bottom-color: #00b09b;
    color: #00b09b;
  }

  .nav-section {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    position: relative;
  }

  .support-text {
    font-weight: bold;
    color: #979797;
  }

  .text-overflow {
    overflow: hidden;
    overflow-wrap: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .column-left {
    position: absolute;
    background-color: #2ab9a5;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-size: 60%;
    background-position: center center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
  }

  .login-wrapper {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 900px;
  }

  .bg-login {
    background-image: url('/assets/images/icons/security.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 90%;
  }

  .btn-underlined,
  .btn-underlined:hover {
    border-bottom: 1px dashed;
    padding-bottom: 2px;
  }

  .login-footer {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: -13px;
  }

  .column-left-title {
    font-size: 20px;
  }

  .link-back {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.79);
    margin-right: 5px;
    opacity: 0.8;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: -5px;
    left: 30px;
  }

  .link-back:hover {
    opacity: 1;
    color: inherit;
  }

  .bg-register {
    background-image: url('/assets/images/icons/deal.svg');
    background-size: 90%;
    background-position: center 90%;
    background-repeat: no-repeat;
  }

  .bg-register-step1 {
    background-image: url('/assets/images/icons/agreement.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  @media (max-width: 767px) {
    .colum-left {
      position: static;
      background-image: none;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 40px;
    }
  }

  .registratation-fee {
    font-weight: bold;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #696767;
  }

  .registratation-fee span {
    color: #ff5630;
  }
}

body {
  font-family: Montserrat;
  font-size: 16px;
  color: #393838;
}
a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.alert {
  font-size: 15px;
}

.alert li:last-child {
  margin-bottom: 0px !important;
}

@media (min-width: 1800px) {
  .container-fluid {
    max-width: 1820px;
  }
}

@media (min-width: 1000px) {
  .container-fluid {
    max-width: 90%;
  }
}

.transition {
  transition: all 300ms;
}

.text-md {
  font-size: 1.5rem;
}

.text-sentence::first-letter {
  text-transform: uppercase;
}

.text-phone {
  letter-spacing: 3px;
}

.page-loader {
  border-radius: 0px;
  height: 5px;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  right: 0px;
}

.btn-brand,
#navbar .btn-brand {
  background-image: linear-gradient(-90deg, #00b09b, #96c93d);
  padding: 12px 20px;
  border-radius: 3px;
  color: white !important;
  font-weight: bold;
  position: relative;
  transition: box-shadow 300ms, transform 300ms;
  display: inline-block;
  text-align: center;
}

#navbar .btn-brand {
  margin-left: 0px;
  width: 100%;
}

.btn-brand:hover,
#navbar .btn-brand:hover {
  color: white;
  text-decoration: none;
  transform: translateY(-2px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.bg-grey {
  background-color: #ecf0f1;
}

.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  content: '';
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.52),
    transparent
  );
}

.btn-bordered {
  background: none;
  border: 2px solid;
  color: #00b09b;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-bordered-white {
  color: white;
}

.btn-brand:focus {
  outline: none;
}

.btn-curved {
  border-radius: 80px;
}

button {
  border: none;
}

.link-cover {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

.overflow-hidden {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.no-bg {
  background: none;
  color: #595555;
}

.no-border {
  border: none !important;
}

.text-md {
  font-size: 15px;
}

.text-sm {
  font-size: 12px !important;
}
.text-brand {
  color: #00b09b;
}

.btn-brand-bordered,
.btn-brand-bordered:hover {
  background: none;
  border: 1px solid #00b09b;
  color: #00b09b !important;
}
