<section class="hero overlay">
  <div class="container-fluid">
    <div class="hero-inner">
      <h1>Building a legacy of quality education in Nigeria</h1>
      <p>
        APSON is the umbrella body of all private school owners and NGOs in
        education related matters in Nigeria.
      </p>
      <div>
        <a class="btn-brand btn-bordered btn-bordered-white" routerLink="/about">About us</a>
        <a class="btn-brand" routerLink="/register">Become a member</a>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="header">
      <span>What we do</span>
      <h2>Promoting education for national development</h2>
      <p>
        <strong>The Association of Private School Owners of Nigeria</strong>
        (APSON) was created to improve the standard of quality eduction in
        Nigeria and promote the interest of proprietors of private schools by
        creating a platform where members can function without any hindrance.
      </p>
    </header>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="mb-4 col-md-4 col-12">
        <div class="intro-box overlay bg-about-us card h-100">
          <div>
            <span>Who we are</span>
            <h3>About Us</h3>
            <p>
              Learn about our organization, our vision, mission and executives.
            </p>
            <a routerLink="/about" class="btn-brand">Learn about us</a>
          </div>
        </div>
      </div>
      <div class="mb-4 col-sm-6 col-md-4 col-12">
        <div class="intro-box overlay bg-news card h-100">
          <div>
            <span>Our publications</span>
            <h3>News &amp; Events</h3>
            <p>Stay updated with news, events and publications from APSON.</p>
            <a routerLink="/blog" class="btn-brand">Get updated</a>
          </div>
        </div>
      </div>
      <div class="mb-4 col-sm-6 col-md-4 col-12">
        <div class="intro-box overlay bg-schools card h-100">
          <div>
            <span>Our schools</span>
            <h3>Member schools</h3>
            <p>Get direct access to the best private schools in Nigeria.</p>
            <a routerLink="/schools" class="btn-brand">Find a school</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid position-relative">
    <header class="header-left">
      <span class="font-weight-bold position-relative pl-5">Publicatons,</span>
      <h2 class="font-weight-bold text-uppercase">News & Events</h2>
      <a routerLink="/blog" class="blog-link-more float-right">VIEW ALL <i class="fas fa-arrow-right"></i></a>
    </header>
    <div class="row blog-slider boxed-row">
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100 ">
          <span class="blog-category bg-cat-news">News</span>
          <a routerLink="/blog/994343" class="link-cover"></a>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/zach-vessels-1284924-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">How to start a private school in Nigeria</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-publication">Publication</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/joshua-oluwagbemiga-1435064-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">
              How to start a private school in Nigeria.
            </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-event">Event</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/annie-spratt-1215936-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a class="link-cover" routerLink="/blog/994343"></a>
          <span class="blog-category bg-cat-event">Event</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/santi-vedri-707620-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-publication">Publication</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/zach-vessels-1285339-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-news">News</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/benny-jackson-222664-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn blog-control transition">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button type="button" class="btn blog-control transition blog-control-right">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="header">
      <span>Why join us</span>
      <h2>100% SUPPORT FOR MEMBERS WELFARE</h2>
      <p>
        As the official and flagship organization of private school owners in
        Nigeria, we constantly building an organization that puts it's members
        welfare at the core center of our decision making process.
      </p>
    </header>
  </div>
  <div class="container-fluid">
    <div class="row position-relative">
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-handshake"></i>
          <span class="why-item-subtitle">Members welfare</span>
          <h4>100% Support for Member's welfare</h4>
          <p>
            APSON creates an enabling environment to protect her members from
            undue harassment, hindrance or encumbrances.
          </p>
          <a class="blog-link-more" routerLink="/about">Learn more</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-map-marked-alt"></i>
          <span class="why-item-subtitle">School directory</span>
          <h4>Get your schools discovered</h4>
          <p>
            APSON provides an online platform where member schools are freely
            advertised, making easy for the public to discover your schools.
          </p>
          <a routerLink="/schools" class="blog-link-more">Learn more</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-laptop"></i>
          <span class="why-item-subtitle">getsmati.com</span>
          <h4>Free school management software</h4>
          <p>
            Make it easy for your students to pay fees, get results, connect
            with their classmates with our state of the art student management
            system.
          </p>
          <a [href]="'https://www.getsmati.com'" class="blog-link-more" target="_blank">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid position-relative">
    <header class="header-left">
      <span class="font-weight-bold position-relative pl-5">Find Schools,</span>
      <h2 class="font-weight-bold text-uppercase">
        Best private schools in Nigeria
      </h2>
    </header>
    <app-school-box></app-school-box>
    <div class="text-center btn-footer-grp">
      <a routerLink="/schools" class="btn-brand">Discover more schools</a>
    </div>
  </div>
</section>