<section class="section bg-grey">
  <div class="container-fluid contact-form-wrapper">
    <div
      class="shadow-sm bg-white login-wrapper position-relative overflow-hidden"
    >
      <div class="row position-static">
        <div class="column-left col-12 col-md-5 colum-left bg-login">
          <div class="h-100">
            <lib-back-button></lib-back-button>
            <h1 class="text-white font-weight-bold column-left-title">
              Log in to APSON
            </h1>
          </div>
        </div>
        <div class="col-md-7 offset-md-5 col-12">
          <form
            class="form pl-4 position-relative pr-4 pt-5"
            (ngSubmit)="onLogin()"
            novalidate
          >
            <lib-alert
              [title]="response.title"
              [type]="response.type"
              [message]="response.message"
              *ngIf="!hideAlert"
            ></lib-alert>
            <div class="form-group">
              <label for="username">Email Address or Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [formControl]="formData.get('username')"
                [value]="formData.get('username').value"
              />
              <span
                class="display-error"
                *ngIf="
                  formData.get('username').invalid &&
                  (formData.get('username').dirty ||
                    formData.get('username').touched)
                "
                >Enter your email or phone number</span
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [formControl]="formData.get('password')"
                [value]="formData.get('password').value"
              />
              <span
                class="display-error"
                *ngIf="
                  formData.get('password').invalid &&
                  (formData.get('password').dirty ||
                    formData.get('password').touched)
                "
                >Password is required</span
              >
            </div>
            <div class="text-center">
              <lib-submit-button
                [text]="'Login to APSON'"
                [isBusy]="isBusy"
                [disabled]="formData.invalid"
              ></lib-submit-button>
            </div>
            <div class="text-center mt-5">
              <a
                routerLink="/forgot-password/"
                class="d-inline-block text-muted btn-underlined"
                ><small>Forgot Password?</small></a
              >
            </div>
          </form>
          <div class="text-center mt-5 login-footer">
            <p class="text-muted">
              Not a member yet?
              <a
                routerLink="/register/"
                class="d-inline-block btn-underlined blog-link-more ml-1"
                >Register Now</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
