<section class="section bg-grey">
  <div class="container-fluid contact-form-wrapper">
    <div
      class="shadow-sm bg-white login-wrapper position-relative overflow-hidden"
    >
      <div class="row position-static">
        <div class="column-left col-12 col-md-5 colum-left bg-login">
          <div class="h-100">
            <lib-back-button></lib-back-button>
            <h1 class="text-white font-weight-bold column-left-title">
              Recover Password!
            </h1>
          </div>
        </div>
        <div class="col-md-7 offset-md-5 col-12">
          <form role="form" class="form pl-4 position-relative pr-4 pt-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input type="text" class="form-control" id="name" name="email" />
            </div>
            <div class="text-center mt-4 btn-curved w-100">
              <lib-submit-button
                [text]="'Send me recovery link'"
              ></lib-submit-button>
            </div>
          </form>
          <div class="text-center mt-5 login-footer">
            <p class="text-muted">
              Back to
              <a
                routerLink="/login"
                class="d-inline-block btn-underlined blog-link-more ml-1"
                >Log in</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
