<section class="hero-section section bg-contact overlay contact-section">
  <div class="container-fluid position-relative">
    <h1 class="text-center">Contact us</h1>
  </div>
</section>
<section class="section contact-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 d-md-block d-none">
        <h3 class="contact-section-subtitle">Contact Details:</h3>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="text-uppercase">APSON Headquarters</h2>
        <p>
          No. 2 Etete road, Off Adesuwa Grammer School road, Benin City, Edo
          state, Nigeria
        </p>
      </div>
      <div class="col-md-3 col-sm-12">
        <h2 class="text-uppercase">Email</h2>
        <p>
          <a [href]="'mailto:support@apsonigeria.org'"
            >support@apsonigeria.org</a
          >
        </p>
      </div>
      <div class="col-md-3 col-sm-12" #scrollView>
        <h2 class="text-uppercase">Phone</h2>
        <p><a [href]="'tel:+2348094561245'">+234 (0)809 456 1245</a></p>
      </div>
    </div>
  </div>
  <div class="container-fluid contact-form-wrapper">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <h3 class="contact-section-subtitle subtitle">Write Us:</h3>
      </div>
      <div class="col-sm-12 col-md-10">
        <app-contact-box [scrollView]="scrollView"></app-contact-box>
      </div>
    </div>
  </div>
</section>
