<section class="section blog-post-section">
  <div class="container">
    <div class="blog-inner-content">
      <h1 class="blog-page-title blog-post-title">
        How to start a private school in Nigeria.
      </h1>
      <small class="blog-post-date"
        ><i class="fas fa-calendar-alt"></i> July 4th, 2019</small
      >
      <img
        src="assets/images/limbo/zach-vessels-1314101-unsplash.jpg"
        width="100%"
        class="rounded blog-cover-img"
      />
      <div class="text-content">
        <p>
          <strong>Pellentesque habitant morbi tristique</strong> senectus et
          netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
          feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
          sit amet quam egestas semper.
          <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.
          Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
          wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet,
          wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
          rutrum orci, sagittis tempus lacus enim ac dui.
          <a routerLink="#!">Donec non enim</a> in turpis pulvinar facilisis. Ut
          felis.
        </p>
        <h2>Header Level 2</h2>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>
        <blockquote class="blockquote blockquote-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          magna. Cras in mi at felis aliquet congue. Ut a est eget ligula
          molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis
          mollis, tellus est malesuada tellus, at luctus turpis elit sit amet
          quam. Vivamus pretium ornare est.
        </blockquote>
        <h3>Header Level 3</h3>
        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
          egestas semper. Aenean ultricies mi vitae est. Mauris placerat
          eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
          Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet,
          wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
          rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in
          turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus
          faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
          Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
          facilisis luctus, metus
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
        <p>
          <img
            src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1499695867787-121ffb7950bf.jpg"
            alt="Example blog post alt"
            class="img-fluid"
          />
        </p>

        <p>
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
          egestas semper. Aenean ultricies mi vitae est. Mauris placerat
          eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
          Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet,
          wisi.
        </p>
        <p>
          Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum
          orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
          pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus
          faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
          Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
          facilisis luctus, metus
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid position-relative">
    <header class="header-left">
      <h2 class="font-weight-bold text-uppercase">Recommended for you</h2>
      <a routerLink="/blog" class="blog-link-more float-right"
        >VIEW ALL <i class="fas fa-arrow-right"></i
      ></a>
    </header>
    <div class="row blog-slider boxed-row">
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100 ">
          <span class="blog-category bg-cat-news">News</span>
          <a routerLink="/blog/983409" class="link-cover"></a>
          <div class="blog-image-wrapper">
            <img
              src="assets/images/limbo/zach-vessels-1284924-unsplash.jpg"
              width="100%"
              class="blog-image"
            />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">How to start a private school in Nigeria</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/983409" class="link-cover"></a>
          <span class="blog-category bg-cat-publication">Publication</span>
          <div class="blog-image-wrapper">
            <img
              src="assets/images/limbo/joshua-oluwagbemiga-1435064-unsplash.jpg"
              width="100%"
              class="blog-image"
            />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">
              How to start a private school in Nigeria.
            </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/983409" class="link-cover"></a>
          <span class="blog-category bg-cat-event">Event</span>
          <div class="blog-image-wrapper">
            <img
              src="assets/images/limbo/annie-spratt-1215936-unsplash.jpg"
              width="100%"
              class="blog-image"
            />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn blog-control transition">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button
      type="button"
      class="btn blog-control transition blog-control-right"
    >
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</section>
