<section class="hero-section section overlay bg-about">
  <div class="container-fluid position-relative">
    <h1 class="text-center">About us</h1>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
    <header class="header">
      <span>What we do</span>
      <h2>Promoting education for national development</h2>
    </header>
    <div class="row">
      <div class="col-sm-6">
        <p>The <strong>Association of Private School Owners of Nigeria</strong> (APSON) is the official umbrella body of
          all proprietors of private schools and other Non Governmetal Organizations (NGOs) engaged in education related
          matters in Nigeria. </p>
        <p>Founded in 1995, the association was created to promote the interest of private school owners and improve the
          standard of quality eduction in Nigeria. The association is duly registered with corporate Affairs commission
          with certificate number <ins>082240</ins>. </p>
      </div>
      <div class="col-sm-6">
        <p>As the official flagship organization of private school owners in Nigeria, we are constantly building an
          organization that puts it's members welfare at the core center of our decision making process. </p>
        <p>APSON provides a strong support system that ensures that members are protected from undue harrassments and
          can operate smoothly without encumbrances and hindrance.</p>
        <p>We constantly collaborate with the relevant governmental agencies and other stakeholders in education sector.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid">
    <header class="header">
      <span>Leadership</span>
      <h2>The Executives</h2>
    </header>
    <div class="row">
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/12.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title card-body mb-2 ">Bishop Dr. Opukeme Eseimokumor Godly (JP)</h4>
          <span class="blog-date">National President</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/13.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Hon. Martins Owamagbe Osakue</h4>
          <span class="blog-date">Chairman BoT</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/11.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Deaconess Onerime oluwatoyin Florence</h4>
          <span class="blog-date">Southwest Zonal President</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/10.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Nemi Ekiotenne</h4>
          <span class="blog-date">Bayelsa Chairperson</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/9.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Dr. Patience Epelle</h4>
          <span class="blog-date">National Secretary. Training and Seminar</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/8.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Comrade Vayero Isaac Ejogbamu</h4>
          <span class="blog-date">Delta State Chairperson</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/7.jpg" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Alh Abdurrahman Marafa</h4>
          <span class="blog-date">National Secretary</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/6.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2 card-body">Deacon Ojakorotu Etaverho Lucky (JP)</h4>
          <span class="blog-date">Deputy National President</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/5.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2">Haj.Rashidat Oluremi Sani</h4>
          <span class="blog-date">Welfare/Organising Secretary</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/4.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2">Obanla-amoo flourish Busola</h4>
          <span class="blog-date">National Treasurer</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/3.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2">Bishop Jerry Eze</h4>
          <span class="blog-date">Legal Advisor 2</span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/2.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2"></h4>
          <span class="blog-date"></span>
        </div>
      </div>
      <div class="mb-4 col-12 col-sm-6 col-md-4">
        <div class="blog-box card h-100 text-center exco-box pb-5 pt-4">
          <img src="assets/images/excos/1.jpg" width="100%" class="transition mt-4 mb-4" />
          <h4 class="blog-title mb-2"></h4>
          <span class="blog-date"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="header">
      <span>Why join us</span>
      <h2>100% SUPPORT FOR MEMBERS WELFARE</h2>
      <p>As the official and flagship organization of private school owners in Nigeria, we constantly building an
        organization that puts it's members welfare at the core center of our decision making process. </p>
    </header>
  </div>
  <div class="container-fluid">
    <div class="row position-relative">
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-handshake"></i>
          <span class="why-item-subtitle">Members welfare</span>
          <h4>100% Support for Member's welfare</h4>
          <p>APSON creates an enabling environment to protect her members from undue harassment, hindrance or
            encumbrances.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-map-marked-alt"></i>
          <span class="why-item-subtitle">School directory</span>
          <h4>Get your schools discovered</h4>
          <p>APSON provides an online platform where member schools are freely advertised, making easy for the public to
            discover your schools.</p>
          <a routerLink="/schools" class="blog-link-more">Learn more</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="why-item">
          <i class="fas why-item-icon fa-laptop"></i>
          <span class="why-item-subtitle">getsmati.com</span>
          <h4>Free school management software</h4>
          <p>Make it easy for your students to pay fees, get results, connect with their classmates with our state of
            the art student management system.</p>
          <a [href]="'https://www.getsmati.com'" class="blog-link-more" target="_blank">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="mb-4 col-sm-6 col-12">
        <div class="intro-box overlay bg-news card h-100">
          <div>
            <span>Our publications</span>
            <h3>News &amp; Events</h3>
            <p>Stay updated with news, events and publications from APSON.</p>
            <a routerLink="/blog" class="btn-brand">Get updated</a>
          </div>
        </div>
      </div>
      <div class="mb-4 col-sm-6 col-12">
        <div class="intro-box overlay bg-schools card h-100">
          <div>
            <span>Our schools</span>
            <h3>Member schools</h3>
            <p>Get direct access to the best private schools in Nigeria.</p>
            <a routerLink="/schools" class="btn-brand">Find a school</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
