<section class="hero-section section bg-contact overlay contact-section">
  <div class="container-fluid position-relative">
    <h1 class="text-center">Publications</h1>
  </div>
</section>
<section class="nav-section">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog/news/" routerLinkActive="active">News/Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog/publications/" routerLinkActive="active">Publications</a>
      </li>
    </ul>
  </div>
</section>
<section class="section bg-grey">
  <div class="container-fluid">
    <div class="row blog-slider boxed-row">
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100 ">
          <span class="blog-category bg-cat-news">News</span>
          <a routerLink="/blog/998345" class="link-cover"></a>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/zach-vessels-1284924-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">How to start a private school in Nigeria</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/9987456" class="link-cover"></a>
          <span class="blog-category bg-cat-publication">Publication</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/joshua-oluwagbemiga-1435064-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">How to start a private school in Nigeria.</h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-event">Event</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/annie-spratt-1215936-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a class="link-cover" routerLink="/blog/994343"></a>
          <span class="blog-category bg-cat-event">Event</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/santi-vedri-707620-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-publication">Publication</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/zach-vessels-1285339-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-4">
        <div class="blog-box card h-100">
          <a routerLink="/blog/994343" class="link-cover"></a>
          <span class="blog-category bg-cat-news">News</span>
          <div class="blog-image-wrapper">
            <img src="assets/images/limbo/benny-jackson-222664-unsplash.jpg" width="100%" class="blog-image" />
          </div>
          <div class="blog-content">
            <span class="blog-date">April 17, 2019</span>
            <h4 class="blog-title">Register for the 2019 Education for all </h4>
            <span class="blog-link-more">READ MORE &rarr;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
