<div class="row">
  <div class="col-12 col-lg-3">
    <div class="form-section-heading">
      <h4>3. School Location</h4>
      <p>Where is your school located?</p>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <form
      (submit)="updateDetails()"
      [formGroup]="formData"
      class="form pl-4 position-relative pr-4 pt-5  form-box pb-4"
    >
      <lib-input
        [title]="'Street Address'"
        [type]="'text'"
        [formData]="formData"
        [name]="'address'"
        [invalidText]="'Street address is required'"
      ></lib-input>
      <lib-input
        [title]="'City/Town'"
        [type]="'text'"
        [formData]="formData"
        [name]="'city'"
        [invalidText]="'Enter the city/town where your school is located'"
      ></lib-input>
      <lib-select
        [title]="'State'"
        [data]="listOfStates"
        [formData]="formData"
        [name]="'state'"
        (select)="updateLGA($event)"
        [invalidText]="'Choose the state where your school is located'"
      ></lib-select>
      <lib-select
        [title]="'Local Government Area'"
        [data]="lgas"
        [formData]="formData"
        [name]="'lga'"
        [isLoading]="fetchingLga"
        [invalidText]="'Choose the LGA where your school is located'"
      ></lib-select>
      <lib-alert
        *ngIf="!hideAlert"
        [message]="response.message"
        [type]="response.type"
        [title]="response.title"
      ></lib-alert>
      <div class="text-right text-sm btn-grouped ml-n4 mr-n4 pr-4 pl-4">
        <lib-submit-button
          [text]="'Save changes'"
          [maxWidth]="''"
          [isBusy]="isBusy"
          [disabled]="formData.invalid"
        ></lib-submit-button>
      </div>
    </form>
  </div>
</div>
